%nav
  .nav-wrapper
    .container
      %a.brand-logo.center{href: "#"} ECommerce
      %ul.left.hide-on-med-and-down
        %li= link_to "Products", products_path
        %li= link_to "New Product", new_product_path
        - if user_signed_in?
          %li= link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
